<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    id="cordova-plugin-camera"
    version="1.1.1-dev">
    <name>Audio Video Permissions</name>
    <description>Cordova audio/video permissions for getUserMedia</description>
    <license>Apache 2.0</license>
    <keywords>cordova,audio,video,permissions,getUserMedia</keywords>
    



    <!-- android -->
    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/*">
	    <uses-permission android:name="android.permission.RECORD_AUDIO" />
	    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
	    <uses-permission android:name="android.permission.CAMERA" />
        </config-file>
    </platform>

    
</plugin>
